[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
coreapi = "*"
pyyaml = "*"
dj-rest-auth = "*"
django-allauth = "*"
permission = "*"
pytest = "*"
pytest-django = "*"
mixer = "*"

[dev-packages]

[requires]
python_version = "3.7"
